.main {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
