.menu {
  margin: 20px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 15px;
}

.link {
  color: #000000;
  padding: 10px;

  &:hover {
    opacity: 0.7;
  }
}

.active {
  color: #555555;
}
