.menu {
  margin: 20px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 15px;
}

.link {
  color: #444444;
  padding: 10px;
}

.active {
  color: #6e6e6e;
}
