.header {
  display: flex;
  align-items: center;
  justify-content: center;

  &-input {
    padding: 5px 8px;
    font-size: 18px;
  }

  &-btn {
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
  }
}
