* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: #f7f7f7;
  margin: 0;
}

#__next {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

.app {
  padding: 20px 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #f7f7f7;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.theme-button {
  margin-bottom: 20px;
  padding: 6px 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: #33383d;
  color: #fff;
  font-size: 18px;

  &:hover {
    opacity: 0.7;
  }
}

.error-btn {
  margin-bottom: 20px;
  padding: 6px 36px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: #ff0000;
  color: #fff;
  font-size: 18px;

  &:hover {
    opacity: 0.7;
  }
}

.main {
  width: 100%;
  display: grid;
  align-items: start;
  gap: 10px;
}

.block-left {
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.dark-theme {
  background: #1a2421;

  .theme-button {
    background: #e9e9e9;
    color: #33383d;
  }

  * {
    box-shadow: none;
  }
}

.list {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
}

.empty {
  justify-self: center;
  padding-top: 100px;
  margin: 0 auto;
  font-size: 24px;
}

.download {
  margin-bottom: 20px;
  padding: 6px 36px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: #0cb4f1;
  color: #fff;
  font-size: 18px;

  &:hover {
    opacity: 0.7;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &-input {
    padding: 8px 8px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #e9e9e9;
  }

  &-btn {
    padding: 8px 36px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background: #0cb4f1;
    color: #fff;
    font-size: 18px;

    &:hover {
      opacity: 0.7;
    }
  }
}

.dark-theme {
  .search {
    &-input {
      background: #33383d;
      color: #fff;
    }

    &-btn {
      background: #181818;
      color: #fff;
    }
  }
}

.pagination {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  a {
    color: #000;
  }

  &-item,
  &-item-active {
    padding: 5px 10px;
    border: none;
    background: #e9e9e9;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 18px 15px 0px #94949426;

    &:hover {
      opacity: 0.7;
    }
  }

  &-item-active {
    background: #0cb4f1;
    color: #fff;
    cursor: default;
  }
}

.dark-theme {
  .pagination {
    &-item {
      background: #33383d;
      color: #fff;
      box-shadow: none;
    }

    &-item-active {
      background: #181818;
      box-shadow: none;
    }
  }
}

.list-item,
.list-item-active {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 0 10px 0;
  color: #000;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 18px 15px 0px #94949426;

  &-header {
    padding: 10px;
    background: #e9e9e9;
  }

  &-desc {
    font-weight: 600;
  }
}

.list-item-active {
  background: #e9e9e9;
}

.item-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}

.dark-theme {
  .list-item {
    background: #33383d;
    color: #fff;
    box-shadow: none;

    &-header {
      background: #1f1f1f;
    }

    &-active {
      background: #1f1f1f;
      color: #fff;
      box-shadow: none;
    }
  }
}

.flyout {
  margin-top: 30px;
  width: 50%;
  padding: 10px;
  min-width: 400px;
  background: #e9e9e9;
  box-shadow: 0px 18px 15px 0px #94949426;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 7px;

  &-header {
    padding: 10px;
    background: transparent;
  }

  &-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  &-delete {
    margin-bottom: 20px;
    padding: 6px 36px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background: #ff0000;
    color: #fff;
    font-size: 18px;

    &:hover {
      opacity: 0.7;
    }
  }
}

.download {
  margin-bottom: 20px;
  padding: 6px 36px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: #0cb4f1;
  color: #fff;
  font-size: 18px;

  &:hover {
    opacity: 0.7;
  }
}

.dark-theme {
  .flyout {
    background: #33383d;
    color: #fff;
    box-shadow: none;
  }
}

.loader {
  justify-self: center;
  padding-top: 100px;
  margin: 0 auto;
  font-size: 24px;
}

.dark-theme {
  .loader {
    color: #fff;
  }
}

.not-found {
  justify-self: center;
  width: 50%;
  padding-top: 100px;
  margin: 0 auto;
  font-size: 24px;
}

.open-card {
  position: relative;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0px 18px 15px 0px #94949426;

  &-header {
    padding: 10px;
    background: transparent;
  }

  &-desc {
    font-weight: 600;
  }

  &-btn {
    position: absolute;
    top: -3px;
    right: 5px;
    margin: 15px;
    background: transparent;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 25px;

    &:hover {
      opacity: 0.7;
    }
  }
}

.dark-theme {
  .open-card {
    background: #33383d;
    color: #fff;
    box-shadow: none;

    &-btn {
      color: #fff;
    }
  }
}
